*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 70px auto;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #00000020,

   -2px -2px 2px 2px #00000020;
  padding: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 24px;
}


.todo-input-section {
  border: 2px solid rgb(199, 195, 195);
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 30px;
}


.input-row {
  
  margin-bottom: 16px;
}


.input-icon {
  background: #0099bb;
 
  padding: 8px 12px;
  border-radius: 4px 0 0 4px;
 
}

#taskInput {
  
  padding: 10px;
  border: 1px solid #ccc;

   border-radius: 0 4px 4px 0;
  
}

#error, .error {/*رح نشتغل عليه بالجافا سكربت عشان يبين خلال حدث معين هس حاليا لا تهتم*/
  color: rgb(242, 9, 9);
  
  margin-top: 10px;
  min-height: 15px;
}

#addTaskBtn {
  width: 100%;
  background: #0099bb;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  /*عشانيصيرلماالماوس تيجي عليه يصير زي اصبع*/transition: background 0.2s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}



.tabs {
  
 display: flex; /*الهدف بس عشان استخدم الفراغات يعني جااااب*/
 
 gap: 15px;
}

.tabBtn {
  flex: 1;/*بعطي عرض متساوي بدل ما تحسب يدوي وتقعد تقول ثلث ومش ثلث*/
  /*width: 33%;*//*نفس فلكس 1 بس اشي جديد  الفلكس1*/
  background: #0099bb;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 10px;
  
  cursor: pointer;
  
  transition: background 0.2s ease;
}


.footer-btns {
  display: flex;
  gap: 16px;
  margin-top: 15px;
}

/*/////////////////////////////////////////////////////////Breake/////////////////////////////////*/
.footer-btn {
  flex: 1;/*زي ما حكينا فوق يعني فش تداعي تقعد تحسب بالعرض خلص حط هاي احسن */

  padding: 14px 0;

  font-size: 1.1em;
  border: none;

  border-radius: 4px;
  cursor: pointer;
}



.footer-btn.delete-done {/*هذول كلاسين ملزقات ببعض تخفش */
  background: #ffb3b3;
  color:white;
}

.footer-btn.delete-all {
  background: #ff4d4d;
  color: white;
}



.todo-list {
  margin-bottom: 35px;
}

/* هاذ عشان الايتم اللي رح اضيفه  رح اعطيه هاذ الكلاس لحتى يتطبق عليه */
.todo-item {
  display: flex;

  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 8px;
  
  padding: 8px 12px;
}

.todo-text {
  flex: 1;
  font-size: 1.05em;
  padding: 12px;
}
.delete-btn{
    border: none;
  color: red;
}

.done-btn {
  background-color: #4CAF50; 
  /**/

  border: none;
  border-radius: 4px;
  margin-left: 8px;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.done-btn:hover {
  background-color: #45a049; /* غامق شوي */
}
